.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}
.btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.icon{
    border: 0;
    background-color: transparent;
    color: var(--dark-gray);
    width: 32px;
    height: 32px;
}
.icon:hover{
    color: var(--light-beige)
}
.label{
    font-size: 15px;
    text-align: center;
    white-space: nowrap;
    margin-top: 10px;
} 