.xPlayer{
    color: var(--dark-gray);
}
.oPlayer{
    color: var(--light-beige);
}
.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}
.btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.label{
    font-size: 10px;
    text-align: center;
    white-space: nowrap;
    margin-top: 5px;
} 
