.container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    margin: 24px 0;
}
.scores{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    font-size: 32px;
    font-weight: 600;
}
.icons{
    width: 32px;
    height: 32px;
}
.xPlayer{
    color: var(--dark-gray);
}
.oPlayer{
    color: var(--light-beige);
}