.container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    margin: 24px 0;
}
.xPlayer{
    color: var(--dark-gray);
    font-size: 36px;
    font-weight: 600;
}
.oPlayer{
    color: var(--light-beige);
    font-size: 36px;
    font-weight: 600;
}