.playerIcon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.square{
    width: 96px;
    height: 96px;
    background-color: transparent;
    border: 2px solid var(--light-beige);
    display: flex;
    justify-content: center;
    align-items: center;
}
.square:nth-child(1),.square:nth-child(2),.square:nth-child(3){
    border-top: 0;
}
.square:nth-child(1),.square:nth-child(4),.square:nth-child(7){
    border-left: 0;
}
.square:nth-child(7),.square:nth-child(8),.square:nth-child(9){
    border-bottom: 0;
}
.square:nth-child(3),.square:nth-child(6),.square:nth-child(9){
    border-right: 0;
}

.oPlayer {
    color: var(--light-beige);
    animation: 1s ease normal forwards 1 running stroke;
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    width: 64px;
    height: 64px;
}

.xPlayer {
    color: var(--dark-gray);
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: 1s ease normal forwards 1 running stroke;
    width : 72px;
    height: 72px;
}

@keyframes stroke {
    100% {
      stroke-dashoffset: 0;
    }
  }