.xPlayer{
    color: var(--dark-gray);
}
.oPlayer{
    color: var(--light-beige);
}
.playerIcon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.square{
    width: 56px;
    height: 56px;
    background-color: transparent;
    border: 2px solid var(--light-beige);
}
.square:nth-child(1),.square:nth-child(2),.square:nth-child(3){
    border-top: 0;
}
.square:nth-child(1),.square:nth-child(4),.square:nth-child(7){
    border-left: 0;
}
.square:nth-child(7),.square:nth-child(8),.square:nth-child(9){
    border-bottom: 0;
}
.square:nth-child(3),.square:nth-child(6),.square:nth-child(9){
    border-right: 0;
}